/*RESETS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#infoBox, #errorBox, #loadingBox{
    display: none;

    padding: 5px 10px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto 0 100px ;
    text-align: center;
}

#errorBox {
    color: red;
    position: absolute;
    margin-top: 172px;
    margin-left: 1070px;
    padding: 5px 5px;
    width: 150px;
}


#infoBox {
    background-color: #355021;
    color:white;
    position: absolute;
    margin-top: -15px;
    width: 735px;
    margin-left: 490px;
}

main > section{
    display:none;
}


#logo {
    padding: 0 100px 0 50px;
    height: 80px;
}
#logo>img{
    height: 200px
}

#linkHome{
    height: 170px;
}

.navbar li {
    background-color: #fffc7d;
    display:inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 25px 15px 0 5px;
    font-family: Verdana, sans-serif;
    font-size: 15pt;
    float: right;
}

.navbar li:hover {
    background-color: #f3f06a;
}

.navbar a {
    text-decoration: none;
    color: #355021;
}

.container-fluid{

}

.main-content {
    z-index: -1;
}

.background-image {
    width: auto;
    height: 485px;
}

#loginForm {
    margin-top: -350px;
    line-height: 1.5em;
    text-align: right;
}

.span-form {
    color: #355021;
    font-size: 1.3em;
}

#loginButton {
    margin-left: 90px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
}

#loginButton:hover{
    background-color: #d3d4d2;
}

#loginUserName , #loginPassword {

    background-color: #eaede8;
    border: 1px solid #d0d2cf;
    border-radius: 5px;
}

#alertLogin {
    display: none;
    color:red;
}

#registerForm {
    margin-top: -415px;
    line-height: 1.5em;
    text-align: right;
}

#registerButton{
    margin-left: 90px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
}

#registerButton:hover{
    background-color: #d3d4d2;
}

#registerUserName, #registerPassword, #registerFullName, #registerEmailAdress, #registerConfirmPassword {
    background-color: #eaede8;
    border: 1px solid #d0d2cf;
    border-radius: 5px;
}

#alertRegister{
    display: none;
}

#addPhotoForm{
    margin-top: -400px;
    line-height: 1.5em;
    text-align: right;
}

#addPhotoName, #addPathOfPhoto, #photoCategory, #browsePhotoButton, #addPhotoButton {
    background-color: #eaede8;
    border: 1px solid #d0d2cf;
    border-radius: 5px;
}

#browsePhotoButton{
    margin-right: 10px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
}

#browsePhotoButton:hover{
    background-color: #d3d4d2;
}

#addPhotoButton{
    margin-left: 100px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
}

#addPhotoButton:hover{
    background-color: #d3d4d2;
}

.welcome-sign {
    position: absolute;
    top:-450px;
    font-size: 25pt;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #355021;
    line-height: 1.5em;
}

.fav-images {
    position: absolute;
    top:-170px;
    padding:10px;
    margin-left: 45px;

}

.fav-images img {
    width: 210px;
    height: 180px;
    margin: 10px;
}

.footer {
    color:#355020;
    background-color: #fffc7d;
    text-align: center;
    border-top: 1px solid #ddd865;
    font-family: Verdana, sans-serif;
    top: 700px;
    width: 103%;
    margin-top: 30px;
    margin-left: -15px;
}

#adminPanelButton{
    display: none;
}

#usersTable{
    color:#355020;
    font-family: Verdana, sans-serif;
    margin-top: -385px;
    border-radius: 5px;
    overflow: auto;
    height: 268px;
}

#staticUsersTableHeader {
    position: absolute;
    margin-top: -420px;
}

#staticUsersTableHeader th{
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgba(208, 210, 207, 0.6);
    padding: 5px;
    border: 3px solid #d0d2cf;
    width: 137.01px;
}

#usersTable table{
    border: 3px solid #d0d2cf;
}

#usersTable th{
    font-size: 1.3em;
    font-weight: bold;
    background-color: rgba(208, 210, 207, 0.6);
    padding: 1px;
    border: 1px solid #d0d2cf;
    overflow-wrap: normal;
}

#usersTable td{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    border: 3px solid #d0d2cf;
    vertical-align: middle;
    word-break: break-all;
    width: 200px;
}

#lockUserButton {
    margin-left: 735px;
    margin-top: 20px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
    position: absolute;
}
#unlockUserButton{
    margin-left: 600px;
    margin-top: 20px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
    position: absolute;
}

#lockUserButton:hover , #unlockUserButton:hover{
    background-color: #d8ddd4;
}

.adminCheckBoxes {
    width: 25px;
}

.title-users-list{
    color:#355020;
    font-family: Verdana, sans-serif;
    margin-left:400px;
    margin-top: -460px;
    position: absolute;
}


.info-vanya{
    color:#355020;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left;
    border: 1px solid #d0d2cf;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
    width: auto;
    margin-top: -450px;
    line-height: 1.7em;
    padding: 10px;
    box-shadow: 5px 5px 3px #888888;
}

.left-info {
    float: left;
    margin-right: 10px;
}

.left-info img{
    width: 130px;
    padding: 10px;
}

.info-ivo{
    color:#355020;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left;
    border: 1px solid #d0d2cf;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
    width: auto;
    margin-top: 20px;
    line-height: 1.7em;
    padding: 10px;
    box-shadow: 5px 5px 3px #888888;
}

.disabledUsers {
    color:red;
}

#profileViewFromJS{
    position: absolute;
    margin-left:500px;
    background-color: #eaede8;
    color: #355020;
    font-family: Verdana, sans-serif;
    font-size: 1.5em;
    border-radius: 5px;
    border: 2px solid #000000;
}

#profileViewFromJS table{
    border-radius: 5px;
    border: 2px solid #000000
}

#profileViewFromJS th{
    padding: 20px;
    background-color: #ffffff;
}

#profileViewFromJS td{
    height: 150px;
    width: 150px;
    padding: 10px;
    border: 2px solid red;
}

#gallery {
    margin-left:500px;
    position: absolute;
    margin-top:200px;
}

#gallery table {
    background-color: #dddddd;
    padding: 10px;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
}

#gallery th,td {
    border: 2px solid #3c3c3c;
    text-align: center;
}

#gallery th{
    font-size: 1.3em;
}

#gallery td{
    padding: 0 40px;
}

#gallery h4 {
    color:red;
}

#deleteConfirm{
    display:none;
}

#up-form  img {
    height: 50px;
}
