/*RESETS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#infoBox, #errorBox, #loadingBox{
    display: none;

    padding: 5px 10px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto 0 100px ;
    text-align: center;
}

#errorBox {
    color: red;
    position: absolute;
    margin-top: 172px;
    margin-left: 1250px;
    padding: 5px 5px;
    width: 150px;
}


#infoBox {
    background-color: #355021;
    color:white;
    position: absolute;
    z-index: 999;
    margin-top: -15px;
    width: 735px;
    margin-left: 490px;
    /*font-weight: bold;
    font-size: 1.3em;*/
}

main > section{
    display:none;
}


#logo {
    padding: 0 100px 0 50px;
    height: 80px;
}
#logo>img{
    height: 200px
}

#linkHome{
    height: 170px;
}

.navbar li {
    background-color: #fffc7d;
    display:inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 25px 15px 0 5px;
    font-family: Verdana, sans-serif;
    font-size: 15pt;
    float: right;
}

.navbar li:hover {
    background-color: #f3f06a;
}

.navbar a {
    text-decoration: none;
    color: #355021;
}

.main-content {
    z-index: -1;
}

.background-image {
    width: auto;
    height: 485px;
}

#loginForm {
    margin-top: -350px;
    line-height: 1.5em;
    text-align: right;
}

.span-form {
    color: #355021;
    font-size: 1.3em;
}

#loginButton {
    margin-left: 90px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
}

#loginButton:hover{
    background-color: #d3d4d2;
}

#loginUserName , #loginPassword {

    background-color: #eaede8;
    border: 1px solid #d0d2cf;
    border-radius: 5px;
}

#alertLogin {
    display: none;
    color:red;
}

#registerForm {
    margin-top: -415px;
    line-height: 1.5em;
    text-align: right;
}

#registerButton{
    margin-left: 90px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
}

#registerButton:hover{
    background-color: #d3d4d2;
}

#registerUserName, #registerPassword, #registerFullName, #registerEmailAdress, #registerConfirmPassword {
    background-color: #eaede8;
    border: 1px solid #d0d2cf;
    border-radius: 5px;
}

.red-stars{
    color: red;
}

#alertRegister{
    display: none;
}

#addPhotoForm{
    margin-top: -400px;
    line-height: 1.5em;
    text-align: right;
}

#addPhotoName, #addPathOfPhoto, #photoCategory, #browsePhotoButton, #addPhotoButton {
    background-color: #eaede8;
    border: 1px solid #d0d2cf;
    border-radius: 5px;
}

#browsePhotoButton{
    margin-right: 10px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
}

#browsePhotoButton:hover{
    background-color: #d3d4d2;
}

#addPhotoButton{
    margin-left: 100px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
}

#addPhotoButton:hover{
    background-color: #d3d4d2;
}

.welcome-sign {
    position: absolute;
    top:-450px;
    font-size: 25pt;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #355021;
    line-height: 1.5em;
}

.fav-images {
    position: absolute;
    top:-170px;
    padding:10px;
    margin-left: 45px;

}

.fav-images img {
    width: 210px;
    height: 180px;
    margin: 8px;
}

.footer {
    color:#355020;
    background-color: #fffc7d;
    text-align: center;
    border-top: 1px solid #ddd865;
    font-family: Verdana, sans-serif;
    top: 700px;
    width: 103%;
    margin-top: 30px;
    margin-left: -15px;
}

#adminPanelButton{
    display: none;
}

#usersTable{
    color:#355020;
    font-family: Verdana, sans-serif;
    margin-top: -385px;
    border-radius: 5px;
    overflow: auto;
    height: 268px;
    width: 820px;
}

#staticUsersTableHeader {
    position: absolute;
    margin-top: -420px;
}

#staticUsersTableHeader th{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(208, 210, 207, 0.6);
    padding: 5px;
    border: 3px solid #d0d2cf;
    width: 200px;
}

#usersTable table{
    border: 3px solid #d0d2cf;
}

#usersTable th{
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(208, 210, 207, 0.6);
    padding: 1px;
    border: 1px solid #d0d2cf;
    overflow-wrap: normal;
}

#usersTable td{
    background-color: rgba(255, 255, 255, 0.6);
    padding: 5px 10px;
    border: 3px solid #d0d2cf;
    vertical-align: middle;
    word-break: break-all;
    width: 200px;
}


.title-users-list{
    color:#355020;
    font-family: Verdana, sans-serif;
    margin-left:400px;
    margin-top: -460px;
    position: absolute;
}


.info-vanya{
    color:#355020;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left;
    border: 1px solid #d0d2cf;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
    width: auto;
    margin-top: -450px;
    line-height: 1.7em;
    padding: 10px;
    box-shadow: 5px 5px 3px #888888;
}

.left-info {
    float: left;
    margin-right: 10px;
}

.left-info img{
    width: 130px;
    padding: 10px;
}

.info-ivo{
    color:#355020;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: left;
    border: 1px solid #d0d2cf;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
    width: auto;
    margin-top: 20px;
    line-height: 1.7em;
    padding: 10px;
    box-shadow: 5px 5px 3px #888888;
}





#up-form  img {
    height: 50px;
}

#up-form{
    margin-top: -350px;
    line-height: 1.5em;
    text-align: right;

}
#up-form input[type="file"] {
    padding: 5px 10px;
    color: #355021;
    font-size: 1.3em;
    margin-left: 50px;

}

#photoName, #categoryName{
    background-color: #eaede8;
    border: 1px solid #d0d2cf;
    border-radius: 5px;
}

#categoryName{
    width: 175px;
    height: 25px;
}

.upload-label{
    color: #355021;
    font-size: 1.3em;
}



.upload-label-submit{
    margin-left: 90px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    padding: 5px 10px;
    font-size: 1.3em;
}

.upload-label-submit:hover{
    background-color: #d3d4d2;
}

/*categories-start*/
#categories {
    position: absolute;
    padding: 10px 10px;
    display: inline;
    background-color: rgba(208, 210, 207, 0.6);
    border-radius: 5px;
    width: 1170px;
    height: 470px;
    box-shadow: 5px 5px 3px #888888;
}

#categories img {
    height: 200px;
    width: 266px;
}
#categories a {
    text-decoration: none;
    font-weight: bold;
    color: #2b542c;
    text-align: center;
    font-size: 1.3em;
}
/*categories-start*/

/*gallery-start*/


#photos{
    overflow:auto;
    height: 350px;
    width: 760px;
    margin: 0;
    padding: 0;
}

#staticPicturesTableHeader { /*Позиция на хедърите на таблицата*/
    position: absolute;
    margin-top: 45px;
    margin-left: 400px;
    border: 2px solid #d0d2cf;
}

.picture-name-of-picture-table, .picture-likes-of-picture-table, .picture-image-of-picture-table, .picture-check-of-picture-table{
    padding: 10px;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
    background-color: rgba(208, 210, 207, 0.6);
    border: 1px solid #d0d2cf;
    display: inline-block;
    width: 101px; /*размер на хедърите на таблицата*/
    color: #2b542c;

}

.picture-likes-of-picture-table, .picture-image-of-picture-table, .picture-check-of-picture-table{
    margin-left: -8px;
}

.picture-image-of-picture-table{
    width: 447px;
}



#pictureTableFromJS img { /*Размер на снимките*/
    height: 340px;
    width: 435px;
    padding: 15px 15px;
    margin: 2px;
}

#gallery { /*Позиция на галерията*/
    margin-left:415px;
    position: absolute;
    margin-top: 90px;

}

#gallery table {
    padding: 10px;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid #d0d2cf;

}

#gallery th,td {
    border: 1px solid #d0d2cf;
    text-align: center;
}

#gallery th{
    font-size: 1.3em;


}

#gallery td{
    word-break: break-all;
    width: 100px;
    border: 3px solid #d0d2cf;

}

#gallery h4 {
    color:red;
}

.buttons-gallery{ /*мястото на бутоните*/
    position: absolute;
    margin-top: 465px;
    z-index: 999;
}

#deleteConfirm{
    padding: 5px 10px;
    color: #355021;
    font-size: 1.3em;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    position: absolute;
    margin-left: 875px;
    margin-top: -36px;

}
#deleteConfirm:hover{
    background-color: #d3d4d2;
}

#likeConfirm{
    padding: 5px 10px;
    color: #355021;
    font-size: 1.3em;
    margin-left: 1040px;
    margin-top: 2px;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
}

#likeConfirm:hover {
    background-color: #d3d4d2;
}

#alertAlreadyLiked{
    display: none;
    position: absolute;
    top:300px;
    left:300px;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    font-size: 1.3em;
    font-weight: bold;
    color: #2b542c;
}

#alertAlreadyLiked span{
    padding: 20px;
}
 /*gallery- end*/

/*profile-start*/

#staticProfilePicturesTableHeader{ /*Местоположение на хедърите*/
    display: none; /*НЕ ПИПАЙ ТОЯ ДИСПЛЕЙ!!!*/
    position: absolute;
    margin-top: 78px;
    margin-left: 402px;
    border: 2px solid #d0d2cf;
}


#infoUser { /*Местоположение на юзър инфото*/
    position: absolute;
    top: 120px;
    left:800px;


}

#emailProfile, #usernameProfile{
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    border: 1px solid #d0d2cf;
}

#emailProfile{
    margin-left: 30px;
}

#profileView{ /*Местоположение на таблицата*/
    overflow: auto;
    height: 350px;
    width: 760px;
    position: absolute;
    top:220px;
    left: 500px;
}

#profileView td{
    word-break: break-all;
    width: 100px;
    border: 3px solid #d0d2cf;
}
#pictureTableFromJSProfile img{
    height: 340px;
    width: 435px;
    padding: 15px 15px;
    margin: 2px;
}

#pictureTableFromJSProfile{
    border: 3px solid #d0d2cf;
    color:#355020;
    font-family: Verdana, sans-serif;
    border-radius: 5px;
    width: 740px;
    padding: 0;
}

#pictureTableFromJSProfile tr{
    border: 3px solid #d0d2cf;
}

#pictureTableFromJSProfile td{
    background-color: rgba(255, 255, 255, 0.6);
    border: 3px solid #d0d2cf;
    vertical-align: middle;
}


#deleteConfirmProfile{
    display: none; /*НЕ ПИПАЙ ТОЯ ДИСПЛЕЙ!!!*/
    position: absolute;
    z-index: 999;
    margin-left: 1050px;
    top:578px;
    color: #355021;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    font-size: 1.3em;
}


#deleteConfirmProfile:hover{
    background-color: #d3d4d2;
}

#noPicturesAlert{ /*Местоположение на надписа за без снимки*/
    display: none; /*НЕ ПИПАЙ ТОЯ ДИСПЛЕЙ!!!*/
    position: absolute;
    top: 250px;
    left:880px;
    color: #2b542c;
    padding: 15px;
    background-color: #eaede8;
    border-radius: 5px;
    border: 1px solid #d0d2cf;
    font-size: 1.3em;
    font-weight: bold;
}

/*profile-end*/