/*RESETS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#infoBox, #errorBox, #loadingBox{
    display: none;
    background: green;
    padding: 5px 10px;
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

main > section{
    display:none;
}


#logo {
    padding: 0 100px 0 50px;
    height: 80px;
}
#logo>img{
    height: 200px
}
.navbar li {
    background-color: #fffc7d;
    display:inline-block;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 35px 10px 0 10px;
    font-family: Verdana, sans-serif;
    font-size: 15pt;
}

.navbar li:hover {
    background-color: #f3f06a;
}

.navbar ul {
    /*position: absolute;
    left: 300px;*/
}

.navbar a {
    text-decoration: none;
    color: #355021;
}

.main-content {
    /*position: absolute;
    margin-top: 150px;*/
    z-index: -1;
}

.background-image {
    width: 100%;
}

.welcome-sign {
    position: absolute;
    top:-450px;
    font-size: 25pt;
    text-align: center;
    font-family: Verdana, sans-serif;
    color: #355021;
    line-height: 1.5em;

}

.fav-images {
    position: absolute;
    top:-170px;
    padding:10px;
    margin-left: 45px;

}

.fav-images img {
    width: 210px;
    height: 180px;
    margin: 10px;
}

.footer {
    color:#355020;
    background-color: #fffc7d;
    text-align: center;
    border-top: 1px solid #ddd865;
    font-family: Verdana, sans-serif;
    top: 700px;
    width: 103%;
    margin-top: 30px;
    margin-left: -15px;
}
