


<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>photoV&I</title>
        <!--TODO:Styles-->
        <link rel="stylesheet" href="../styles/style.css">

        <!--Scripts-->
        <script src="../scripts/libs/mustache.js"></script>
        <script src="../scripts/libs/moment.js"></script>
        <script src="../scripts/libs/jquery.min.js"></script>
        <script src="../scripts/libs/jquery.noty.minified.js"></script>
        <!-- <script src="scripts/libs/jquery-3.1.0.js"></script>-->
        <script src="../scripts/libs/sammy.js"></script>
        <script src="../scripts/libs/framework.js"></script>
    </head>

    <body>
        <div id="logo">
            <a href="#"><img src="../images/logo.png" alt="site logo"/></a>
        </div>
        <div class="navbar">
            <ul>
                <a href="#"><li>GALLERY</li></a>
                <a href="#"><li>ADD PHOTO</li></a>
                <a href="#"><li>ABOUT</li></a>
                <a href="#"><li>REGISTER</li></a>
                <a href="#"><li>LOGIN</li></a>
            </ul>
        </div>
        <div class="main-content">
            <img class="background-image" src="../images/main_background.png" alt="background"/>
            <div class="welcome-sign">
                Do you like to take pictures?
                <br/>
                <br/>
                Upload your favorite
                <br/>
                photos on our page.
                <br/>
                <br/>
                Enjoy our beautiful photo gallery.
            </div>
            <div class="fav-images">
                <img src="../images/pic1.jpg" alt="pic1"/>
                <img src="../images/pic2.jpg" alt="pic2"/>
                <img src="../images/pic3.jpg" alt="pic3"/>
            </div>
        </div>

       <div class="footer">All rights reserved 2016 &copy; We are not responsible for the photos uploaded by our users.</div>
    </body>
</html>